@import url('https://fonts.googleapis.com/css?family=Chewy|Armata|Quicksand');
#wellbg {
  background-color: rgba(20, 20, 20, 0.5);
  border: 1px solid rgba(96,96,96,1);
  border-radius: 6px;
}
#wellinside {
  background-color: rgba(10, 10, 10, 0.6);
}
/* the 'fullscreen' image cover thingy */
.cover {
	position:absolute;
	top:0; 
	left:0; 
	width:100%;
	height:100%;
	opacity: 0.6;
	
	/* background: url('bg/loading.png') no-repeat center center fixed; */
	background: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* music notification */
.m-notif
{
	position: absolute;
	text-align: left;
	left: 20px;
	top: 20px;
	
	z-index: 10;
	
	width: 600px;
	height: 30px;

	color: #fff;
	
	text-shadow: 1px 1px 14px #000;
	font-size: 15px;
}
.vcenter {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
body {
	overflow: hidden;

	font-family: "Armata";
	font-size: 16px;
	line-height: 1.45;
	color: #ffffff;
	background-color: #000000;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	
	margin-top: 50px;
	margin-bottom: 50px;
}
h1,h2,h3,
.h1,.h2,.h3 {
  font-family: "Chewy";
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  text-shadow: 1px 1px 4px #222;
}
h4,h5,h6,
.h4,.h5,.h6 {
  font-family: "Chewy";
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  text-shadow: 1px 1px 4px #222;
}
.normalise {
	font-family: "Quicksand";
	font-size: 14px;
	line-height: 1.45;
	color: #ffffff;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.sv-info {
	font-family: "Quicksand";
	font-size: 16px;
	line-height: 1.8;
	color: #ffffff;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-fw {
    color: #ea02ff;
}